{% load staticfiles %}
<html>
    <head>
        <title>S2B Blog 2017</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">S2B Blog 2017</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{post.author}}</p>
            </div>
        {% endfor %}
    </body>
</html>